
# /
/.settings
/.classpath
/.fatjar
/.project
/graph.dot
/graph.pdf
/bin
/build
/*.texlipse

# /doc/
/doc/DifferencesWithLibSBML.aux
/doc/DifferencesWithLibSBML.tex.backup
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.out
/doc/*.toc
/doc/Differences_between_JSBML_and_LibSBML.tex.backup
/doc/*.backup

# /doc/api/
/doc/api/index-files
/doc/api/org
/doc/api/resources
/doc/api/allclasses-frame.html
/doc/api/allclasses-noframe.html
/doc/api/constant-values.html
/doc/api/deprecated-list.html
/doc/api/help-doc.html
/doc/api/index.html
/doc/api/overview-frame.html
/doc/api/overview-summary.html
/doc/api/overview-tree.html
/doc/api/package-list
/doc/api/serialized-form.html
/doc/api/stylesheet.css

# /doc/publications/Bioinformatics2011ApplicationNote/
/doc/publications/Bioinformatics2011ApplicationNote/document.aux
/doc/publications/Bioinformatics2011ApplicationNote/document.bbl
/doc/publications/Bioinformatics2011ApplicationNote/document.blg

# /doc/tutorials/
/doc/tutorials/*.aux
/doc/tutorials/*.bbl
/doc/tutorials/*.blg
/doc/tutorials/*.idx
/doc/tutorials/*.ilg
/doc/tutorials/*.ind
/doc/tutorials/*.out
/doc/tutorials/*.toc
/doc/tutorials/test

# /files/
/files/apache-ant-1.8.0
/files/jaxen-1.1.2
/files/jms1.1
/files/libsbml-4.0.1
/files/biomodels
/files/libsbml-test-data

# /lib/
/lib/stax2-api-src-3.0.3.zip
/lib/staxmate-src-2.0.0.zip
/lib/woodstox-core-src-4.0.9.zip

# /log/
/log/*.log
