**/target
**/*.log
**/.classpath
**/.project
**/.settings
**/.wtpmodules
**/.fatjar
**/*.texlipse
**/settings.fatjar
**/.idea
**/graph.dot
**/graph.pdf
**/*.ipr
**/*.iws
**/*.iml
**/bin
**/build
**/dist
**/libsbmlCompatibilityTestResults.txt
**/jsbmlTestResults.txt
**/biomd-025.xml
**/.factorypath
**/statsvn.jar
**/incompatibilitiesTestResults.txt
/core/doc/user_guide/*.blg
/core/doc/user_guide/*.out
/core/doc/user_guide/*.idx
/core/doc/user_guide/*.ilg
/core/doc/user_guide/*.ind
/core/doc/user_guide/*.toc
/core/doc/user_guide/*.aux
/core/doc/user_guide/*.bbl
/core/doc/user_guide/auto
/core/doc/user_guide/User_Guide.toc
/core/doc/user_guide/User_Guide.bbl
/core/doc/user_guide/*~
/core/doc/user_guide/src/*.class
/modules/tidy/doc/api
