#
# $Id$
# $URL$
# -----------------------------------------------------------------------------
# This file is part of JSBML. Please visit <http://sbml.org/Software/JSBML>
# for the latest version of JSBML and more information about SBML.
# 
# Copyright (C) 2009-2018 jointly by the following organizations:
# 1. The University of Tuebingen, Germany
# 2. EMBL European Bioinformatics Institute (EBML-EBI), Hinxton, UK
# 3. The California Institute of Technology, Pasadena, CA, USA
# 4. The University of California, San Diego, La Jolla, CA, USA
# 
# This library is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation. A copy of the license agreement is provided
# in the file named "LICENSE.txt" included with this software distribution
# and also available online as <http://sbml.org/Software/JSBML/License>.
# -----------------------------------------------------------------------------
#
# Aliases are a construct introduced and used by CellDesigner.
# Their purpose is to provide a similar but rather limited
# annotation system as the Systems Biology Ontology (SBO).
# This file provides a mapping between all those aliases and
# the SBO. Unfortunately, it is not possible to provide a
# one-to-one matching because some aliases don't have an exact
# equivalent in the SBO, e.g., "inhibition" and "translational
# inhibition" can both only represented by SBO:0000020.
# The usage of this mapping file simplifies the implementation
# of the SBO class in jsbml and makes the usage of certain SBO
# terms more transparent.
#
# PLEASE NOTE:
# Some of the aliases cannot be mapped to a SBO term with the same or
# with a very similar name. However, it is most important to have a
# unique mapping from aliases to SBO terms and back. Therefore, it is
# highly discouraged to reuse the same SBO term more than once.  
#

####################
# Species  Aliases #
####################

# small interfering RNA
# This term is not exact but SBO does not provide something closer.
ANTISENSE_RNA=317
# non-covalent complex
COMPLEX=253
# empty set
DEGRADED=291
# synthetic chemical compound
DRUG=298
# gene
GENE=243
# polypeptide chain
GENERIC=252
# non-macromolecular ion
ION=327
# phenotype
PHENOTYPE=358
# protein complex
PROTEIN=297
# receptor
RECEPTOR=244
# ribonucleic acid
RNA=250
# channel
ION_CHANNEL=242
# simple chemical
SIMPLE_MOLECULE=247
# chemical macromolecule
# This term is not exact but SBO does not provide something closer.
TRUNCATED=248
# material entity of unspecified nature
UNKNOWN=285


####################
# Reaction Aliases #
####################

# omitted process
KNOWN_TRANSITION_OMITTED=397
# biochemical reaction
STATE_TRANSITION=176
# transcription
TRANSCRIPTION=183
# translation
TRANSLATION=184
# transport reaction
TRANSPORT=185
# uncertain process
UNKNOWN_TRANSITION=396
# reactant
reactant=10
# product
product=11


####################
# Modifier Aliases #
####################

# catalyst
CATALYSIS=13
# inhibitor
INHIBITION=20
# modifier
MODULATION=19
# potentiator
# This term is not exact but SBO does not provide something closer.
PHYSICAL_STIMULATION=21
# stimulator
# This term is not exact but SBO does not provide something closer.
TRANSCRIPTIONAL_ACTIVATION=459
# inhibitor
# This term is not exact but SBO does not provide something closer.
TRANSCRIPTIONAL_INHIBITION=20
# stimulator
# This term is not exact but SBO does not provide something closer.
TRANSLATIONAL_ACTIVATION=459
# inhibitor
# This term is not exact but SBO does not provide something closer.
TRANSLATIONAL_INHIBITION=20
# essential activator
TRIGGER=461
# catalyst
UNKNOWN_CATALYSIS=13
# inhibitor
# This term is not exact but SBO does not provide something closer.
UNKNOWN_INHIBITION=20
